@charset "UTF-8";
@font-face {
    font-family: Kinescope;
    src: url(../font/kinescope.otf);
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Utilities
@import "vendor/normalize";
@import "utils/variables";
@import "utils/mixins";
@import "utils/helpers";

// Base
@import "base/typography";

// Modules
@import "modules/buttons";
@import "vendor/nice-select";

// Layouts
@import "layouts/home";