/* Home Page Styles
   ========================================================================== */
html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #86313c; // Old Browsers
    background: -webkit-linear-gradient(#ea524e 0%, #86313c 50%, #271224 100%) fixed;
    background: -o-linear-gradient(#ea524e 0%, #86313c 50%, #271224 100%) fixed;
    background: linear-gradient(#ea524e 0%, #86313c 50%, #271224 100%) fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    margin: 0 auto;
}

#app {
    position: relative;
    background-color: $color-light-1;
    border-radius: 1rem;
    width: 95%;
    margin: 0 auto 40px auto;
    padding-bottom: 20px;
    -webkit-box-shadow: -2px 2px 36px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 2px 36px -2px rgba(0,0,0,0.5);
    box-shadow: -2px 2px 36px -2px rgba(0,0,0,0.5);
}

header h3 {
    text-align: center;
    margin-top: 5px;
    span:after {
        content: ' - ';
    }
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h2 {
    padding-top: 15px;
    margin-bottom: 5px;
}

ul {
    text-align: center;
    padding-left: 0;
    margin-top: 0;
}

h3 + p {
    margin-bottom: 5px;
}

h3 + p + p {
    margin-top: 0;
}

.title li {
    display: inline-block;
    &:not(:last-child) {
        padding-right: 10px;
    }
}

.poster {
    height: 250px;
    background-image: url('../img/poster.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.meta {
    padding: 20px 0;
    background-color: $color-light-1;
    -webkit-box-shadow: 0px -4px 31px -9px rgba(0,0,0,0.75), 0px 7px 31px -9px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -4px 31px -9px rgba(0,0,0,0.75), 0px 7px 31px -9px rgba(0,0,0,0.3);
    box-shadow: 0px -4px 31px -9px rgba(0,0,0,0.75), 0px 7px 31px -9px rgba(0,0,0,0.3);

    h3:first-child {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.meta__rating {
    margin-top: 10px;
}

.rating--score {
    background-color: $color-rating-good;
    border-radius: 50%;
    color: $color-light-1;
    font-size: 1.2rem;
    padding: 5px;
    vertical-align: middle;
}

.action > p {
    margin-top: 20px;
}

.meta__description {
    margin-top: 20px;

    h3 {
        margin-bottom: 0;
    }  
}

h3 + p {
    margin-top: 10px;
}

.action__buttons {
    margin-top: 20px;
}
.button:nth-of-type(2){
    margin-left: 20px;
}

@media only screen and (max-width: 345px) {
    .button:nth-of-type(2){
        margin-left: 0;
        display: block;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 600px) {
    #app {
        margin-top: 30px;
        overflow: hidden;
    }

   .poster {
        height: 400px;
        width: 48%;
        float: left;
    }

    .meta {
        padding-bottom: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .meta__description, .title {
        width: 48%;
        float: right;
    }

    .title {
        h2, ul {
            text-align: left;
        }
        h2 {
            padding-top: 0;
        }
    }

    .nice-select {
        float: left;
        min-width: 300px;
    }
}


@media only screen and (min-width: 740px) {
    .action__buttons {
        position: absolute;
        bottom: 3%;
        right: 3%;
    }
}

@media only screen and (min-width: 850px) {
    #app {
        max-width: 1000px;
        padding-bottom: 0;

    }

    .title {
        width: 58%;
        float: right;
    }

    .poster {
        height: 580px;
        width: 40%;
        margin-top: 0;
    }

    .meta__description, .meta__rating, .meta__countries, .action {
        width: 56%;
        margin-right: 20px;
        float: right;
    }

    .meta__countries {
        margin-top: 0;
    }
    .clear {
        display: none;
    }

    .nice-select + .clear {
        display: block;
    }

    .container {
        width: 100%;
    }

    .action.container {
        width: 56%;
        margin-right: 20px;
    }

    .nice-select {
        position: absolute;
        min-width: 200px;
    }


    
}

@media only screen and (min-width: 980px) {

    .meta h3:first-child {
        margin-bottom: 0;
    }
    
}