/* SCSS Variables
   ========================================================================== */

/* Colors
   ------------------------------------------------------ */
$color-primary: #e9514e;
$color-secondary: #782b2e;
$color-light-1: #fff;
$color-light-2: #fafafa;
$color-light-3: #f5e7dc;
$color-text-light: #a9a9a9;
$color-dark-1: #595959;
$color-dark-2: #909090;
$color-text-dark: #422e14;
$color-rating-good: #0e6507;
$color-link: #337ab7;
/* Typography
   ------------------------------------------------------ */
$font-primary: 'Roboto', Helvetica, Arial, sans-serif;
$font-cursive: 'Kinescope', cursive;

